@using FitCard.Domain.DTOs.User;
@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<UserDTO>

@{
    ViewData["Title"] = "Usuários";
}

<h1>Usuários</h1>

<form asp-controller="Usuarios" asp-action="Index">
    <div class="form-row">
        <div class="form-group col-md-10">
            <label title="Nome" class="control-label">Nome:</label>
            <input type="text" name="BuscarString" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label class="control-label"><span>&nbsp;</span></label>
            <input type="submit" value="Filtrar" class="form-control" />
        </div>
    </div>

</form>
<table class="table table-hover">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                Nome
            </th>
            <th>
                E-mail
            </th>
            <th>
                Data de Criação
            </th>
            <th style="text-align: end">  <a asp-action="NovoOuEditar" class="btn btn-success"><i class="far fa-plus-square"></i> Usuário</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateAt)
                </td>
                <td style="text-align: end">
                    <a asp-action="NovoOuEditar" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                    <a class="text-danger ml-1" id="btn-confirm" data-toggle="modal" onclick="ConfirmDelete('@item.Id')" data-target="#modalCentralizado"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td class="col-md-6" style="text-align: left"> @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))</td>
                <td class="col-md-6" style="text-align: end"><span>Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount</span> </td>
            </tr>
        </table>
    </div>
</div>
<input type="hidden" id="hiddenId" />
<!-- Modal -->
<div class="modal fade" id="modalCentralizado" tabindex="-1" role="dialog" aria-labelledby="modalTituloCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Excluir Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente excluir este registro?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="DeleteRegistro()" data-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Usuario.js"></script>
}