@model IEnumerable<FitCard.Models.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a class="btn btn-outline-primary" asp-action="Novo">Nova Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaNome)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.CategoriaId" class="btn btn-outline-primary">Editar</a> 
                    <a asp-action="Detalhe" asp-route-id="@item.CategoriaId" class="btn btn-outline-primary">Detalhe</a>
                    <a asp-action="Excluir" asp-route-id="@item.CategoriaId" class="btn btn-outline-primary">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
